<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xihoo.liveshow">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".XhApplication"
        >
        <activity android:name=".view.activity.ApploadActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppBaseThemeMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin"
            />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin"
            />
        <!--android:theme="@style/AppBaseThemeMain"-->
    </application>

</manifest>